@charset "UTF-8";
/*----------Typo----------*/
/*----------Btn----------*/
/*----------Alerte----------*/
/*----------Header----------*/
/*----------Jumbotron----------*/
/*----------Navbar----------*/
/*------------------------Body------------------------*/
body {
  color: #000000;
  font-size: 1.1rem;
  font-family: Calibri, sans-serif;
  margin: 0 auto; }

/*------------------------Titres------------------------*/
h1 {
  font-size: 1.8rem;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px 0; }

h2 {
  font-size: 1.7rem;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin: 18px 0; }

h3 {
  font-size: 1.6rem;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin: 16px 0; }

h4 {
  font-size: 1.5rem;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif;
  margin: 14px 0; }

h5 {
  font-size: 1.4rem;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif;
  margin: 12px 0; }

h6 {
  font-size: 1.3rem;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif;
  margin: 10px 0; }

/*------------------------Sous-titres------------------------*/
small {
  font-size: 0.8em;
  color: grey;
  font-weight: normal; }

/*------------------------Paragraphe------------------------*/
p {
  margin-bottom: 10px; }

/*------------------------Balises de texte inline------------------------*/
mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  text-decoration: underline; }

/*------------------------Quote et blockquote------------------------*/
q {
  display: inline; }

blockquote {
  display: block;
  margin: 1em 2%; }

code {
  font-family: monospace; }

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px; }

kbd {
  font-family: monospace; }

/*------------------------Listes------------------------*/
ul > li {
  list-style-type: disc; }

ul.ul-square > li {
  list-style-type: square; }

ul.ul-list-style-type-none > li {
  list-style-type: none;
  padding: 0; }

/*------------------------Liens------------------------*/
a {
  color: #0095dd;
  text-decoration: none;
  transition: 1s color; }
  a:hover {
    color: #023466;
    text-decoration: underline; }

/*------------------------Alignements et transformations------------------------*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, #page-annonce-details > div > div:nth-child(2) h2, #page-annonce-details > div > div:nth-child(2) > div > div, fieldset > legend {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-uppercase {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

/*------------------------Bouton------------------------*/
.btn, fieldset > input#submit {
  font-size: 1.2rem;
  width: 40%;
  padding: 2%;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  border: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  cursor: pointer;
  transition: 1s background-color; }

.btn:hover, fieldset > input#submit:hover {
  background-color: #333333; }

/*La taille des boutons*/
.btn-small, fieldset > input#submit {
  width: 20%;
  margin: 20px 40%;
  padding: 1%;
  font-size: 1.1rem; }

.btn-large {
  width: 80%;
  margin: 20px 10%;
  font-size: 1.3rem;
  padding: 3%; }

/*La couleur des boutons*/
.btn-blue {
  background-color: #139bff; }

.btn-blue:hover {
  background-color: rgba(19, 155, 255, 0.8); }

.btn-purple {
  background-color: #c298ff; }

.btn-purple:hover {
  background-color: #8d98ff; }

.btn-red {
  background-color: #f6412f; }

.btn-red:hover {
  background-color: rgba(246, 65, 47, 0.8); }

/*Apparence des boutons*/
.btn-fat, fieldset > input#submit {
  -webkit-border-radius: initial;
  -moz-border-radius: initial;
  border-radius: initial; }

.btn-extra-large {
  width: 100%;
  margin: 20px 0; }

.btn-fancy {
  width: 40%;
  margin: 20px 30%;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 3px gray, 0px 4px #767676, 0px 5px #6c6c6c, 0px 6px #626262, 0px 7px #585858, 0px 8px #4e4e4e, 0px 14px 6px -1px gray;
  /* shadow */
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  background-color: #E8E8E8;
  color: #3A474D;
  transition: 1s color;
  text-transform: uppercase;
  font-family: 'Calibri';
  font-size: 1.4rem;
  text-shadow: 0px 1px #fff, 0px -1px #262F33; }

.btn-fancy:hover {
  background-color: #E8E8E8;
  text-shadow: 0px -1px #97A63A;
  color: #0095dd; }

/*------------------------Des alertes------------------------*/
.alerte, .alerte-succes, .alerte-info, .alerte-avertissement, .alerte-danger {
  padding: 3% 1%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  width: 100%; }

.alerte-succes {
  background-color: #e6efc2;
  border: 1px solid #c6d880;
  color: #000000; }

.alerte-info {
  background-color: #d5edf8;
  border: 1px solid #d5edf8;
  color: #215793; }

.alerte-avertissement {
  background-color: #fff6bf;
  border: 1px solid #ffd324;
  color: #000000; }

.alerte-danger {
  background-color: #fbe3e4;
  border: 1px solid #fbc2c4;
  color: #8b1f11; }

/*------------------------Header------------------------*/
/*Pour les titres et les sous-titres*/
.header, header {
  text-align: center;
  background-color: #6495ed; }

/*------------------------Jumbotron------------------------*/
.jumbotron {
  background-color: #eeeeee;
  padding: 3% 1%;
  width: 90%;
  margin: 30px 5%;
  border-radius: 6px;
  text-align: center; }

.jumbotron h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal; }

.jumbotron p {
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: 200; }

.jumbotron .btn, .jumbotron fieldset > input#submit {
  padding: 14px 24px;
  font-size: 1.1rem; }

/*------------------------Barre de navigation------------------------*/
.navbar {
  /*S'applique au ul*/
  padding: 0;
  width: 72%;
  background-color: #4c4e5a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto; }

.navbar li {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  width: 16.66667%;
  box-sizing: border-box; }
  .navbar li a {
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    color: #f3f3f3;
    transition: 1s color;
    display: block;
    border-left: 1px solid #393942;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }
    .navbar li a:hover {
      color: #0095dd; }

.navbar li ul li {
  display: none; }

.navbar li:first-child a {
  border-left: none; }

.navbar li:last-child a {
  border-right: none; }

.disabled a {
  /*S'applique sur li*/
  color: #000000; }
  .disabled a:hover {
    color: #000000; }

.active a {
  color: #ff8c00; }
  .active a:hover {
    color: #ffd700; }

/*------------------------Fils d'arianne------------------------*/
.breadcrumb li, #page-annonce-details > ul:first-child li {
  display: inline-block;
  vertical-align: top; }
  .breadcrumb li:last-child, #page-annonce-details > ul:first-child li:last-child {
    font-weight: bold; }
  .breadcrumb li a, #page-annonce-details > ul:first-child li a {
    color: #0095dd; }
    .breadcrumb li a:hover, #page-annonce-details > ul:first-child li a:hover {
      color: #023466; }

/*------------------------Pagination------------------------*/
.pagination {
  margin: 0 auto;
  padding: 0; }

.pagination li {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  list-style: none;
  display: inline-block;
  vertical-align: middle; }

.pagination li:first-child, .pagination li:last-child {
  color: #666666;
  font-weight: bold;
  padding: 3px 4px; }

.pagination li:first-child a, .pagination li:last-child a {
  font-weight: bold;
  border: solid 1px transparent; }

.pagination .active a {
  color: #696969;
  font-weight: bold;
  border: 1px solid transparent; }
  .pagination .active a:hover {
    border: 1px solid transparent; }

.pagination a {
  border: solid 1px #dddddd;
  color: #0063e3;
  padding: 3px 6px; }
  .pagination a:hover {
    border: solid 1px #666666;
    text-decoration: none; }

.span1-8-10_5 {
  width: 10.5%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span2-8-10_5 {
  width: 23%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span3-8-10_5 {
  width: 35.5%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span4-8-10_5 {
  width: 48%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span5-8-10_5 {
  width: 60.5%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span6-8-10_5 {
  width: 73%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span7-8-10_5 {
  width: 85.5%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span8-8-10_5 {
  width: 98%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.offset0-8-10_5 {
  margin-left: 1%; }

.offset1-8-10_5 {
  margin-left: 13.5%; }

.offset2-8-10_5 {
  margin-left: 26%; }

.offset3-8-10_5 {
  margin-left: 38.5%; }

.offset4-8-10_5 {
  margin-left: 51%; }

.offset5-8-10_5 {
  margin-left: 63.5%; }

.offset6-8-10_5 {
  margin-left: 76%; }

.offset7-8-10_5 {
  margin-left: 88.5%; }

.span1-4-23 {
  /*20_5*/
  width: 23%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left;
  /*20.5*/ }

.span2-4-23 {
  /*20_5*/
  width: 48%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left;
  /*20.5*/ }

.span3-4-23 {
  /*20_5*/
  width: 73%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left;
  /*20.5*/ }

.span4-4-23 {
  /*20_5*/
  width: 98%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left;
  /*20.5*/ }

.offset0-4-23 {
  /*20_5*/
  margin-left: 1%;
  /*20.5*/ }

.offset1-4-23 {
  /*20_5*/
  margin-left: 26%;
  /*20.5*/ }

.offset2-4-23 {
  /*20_5*/
  margin-left: 51%;
  /*20.5*/ }

.offset3-4-23 {
  /*20_5*/
  margin-left: 76%;
  /*20.5*/ }

.span1-3-31_3 {
  width: 31.3333%;
  margin: 10px 1.00002%;
  box-sizing: border-box;
  float: left; }

.span2-3-31_3 {
  width: 64.66663%;
  margin: 10px 1.00002%;
  box-sizing: border-box;
  float: left; }

.span3-3-31_3 {
  width: 97.99997%;
  margin: 10px 1.00002%;
  box-sizing: border-box;
  float: left; }

.offset0-3-31_3 {
  margin-left: 1.00002%; }

.offset1-3-31_3 {
  margin-left: 34.33335%; }

.offset2-3-31_3 {
  margin-left: 67.66668%; }

.span1-2-48 {
  width: 48%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.span2-2-48 {
  width: 98%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.offset0-2-48 {
  margin-left: 1%; }

.offset1-2-48 {
  margin-left: 51%; }

.span1-1-98 {
  width: 98%;
  margin: 10px 1%;
  box-sizing: border-box;
  float: left; }

.offset0-1-98 {
  margin-left: 1%; }

@media only screen and (min-width: 1024px) {
  .span1-ordi-2-48 {
    width: 48%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .span2-ordi-2-48 {
    width: 98%;
    margin: 10px 1%;
    box-sizing: border-box;
    float: left; }

  .offset0-ordi-2-48 {
    margin-left: 1%; }

  .offset1-ordi-2-48 {
    margin-left: 51%; }

  .span1-ordi-3-31_3 {
    width: 31.3333%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .span2-ordi-3-31_3 {
    width: 64.66663%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .span3-ordi-3-31_3 {
    width: 97.99997%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .offset0-ordi-3-31_3 {
    margin-left: 1.00002%; }

  .offset1-ordi-3-31_3 {
    margin-left: 34.33335%; }

  .offset2-ordi-3-31_3 {
    margin-left: 67.66668%; } }
@media only screen and (min-width: 640px) {
  .span1-tablette-3-31_3 {
    width: 31.3333%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .span2-tablette-3-31_3 {
    width: 64.66663%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .span3-tablette-3-31_3 {
    width: 97.99997%;
    margin: 10px 1.00002%;
    box-sizing: border-box;
    float: left; }

  .offset0-tablette-3-31_3 {
    margin-left: 1.00002%; }

  .offset1-tablette-3-31_3 {
    margin-left: 34.33335%; }

  .offset2-tablette-3-31_3 {
    margin-left: 67.66668%; } }
html {
  background-color: #ffffff; }

body {
  background-color: #f5f5f5;
  max-width: 1280px; }

/*---------------Classes---------------*/
.row {
  width: 100%; }

.delete-margin-left {
  margin-left: 0; }

.delete-margin-right {
  margin-right: 0; }

.clear {
  float: none;
  clear: both; }

.relative {
  position: relative; }

img {
  width: 100%; }

/*---------------Header---------------*/
header img {
  width: 50%; }

header form input.loupe {
  background: url(../../img/loupe.png) no-repeat 0 0;
  width: 26px;
  background-color: #a9a9a9;
  padding: 0; }

header form input {
  outline: 0;
  border: 0;
  margin: 0;
  height: 24px;
  vertical-align: top; }

header form input[type=text] {
  width: 80%;
  padding: 0 1%; }

header nav > ul > li > a {
  color: #000000;
  text-decoration: none; }

/*---------------Page d'accueil---------------*/
#page-accueil > a > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff; }
  #page-accueil > a > div p {
    margin: 1%; }
    #page-accueil > a > div p :first-child {
      font-weight: bold; }

/*---------------Page recherche---------------*/
#barre-recherche-detaillee {
  background-color: #dcdcdc; }

#barre-recherche-detaillee label {
  display: none; }

#barre-recherche-detaillee input, #barre-recherche-detaillee select {
  width: 100%; }

#barre-recherche-detaillee > form > div > button {
  font-size: 0.8rem; }

#page-recherche-detaillee {
  margin: 1% 0; }

#page-recherche-detaillee > a {
  color: #000000;
  display: block; }

#page-recherche-detaillee > a > div > p:first-child {
  font-weight: bold;
  margin-top: 0; }

#page-recherche-detaillee > a > div > p:nth-child(n+2) {
  margin: 0; }

@media only screen and (min-width: 640px) {
  /*├á partir des tablettes*/
  #barre-recherche-detaillee label {
    min-width: 110px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.5%; }

  #barre-recherche-detaillee input, #barre-recherche-detaillee select {
    width: 58%; }

  #barre-recherche-detaillee > form > div > button {
    font-size: 1rem; } }
/*---------------Page annonce d├®taill├®e---------------*/
#page-annonce-details > div > div:nth-child(2) h2 {
  background-color: #696969;
  color: #ffffff;
  padding: 8px 2px; }

img[alt="icone-bookmark"] {
  width: 5%; }

#icone-telephone, #icone-mail {
  width: 35%; }

/*---------------Page ajouter une annonce---------------*/
fieldset {
  border: none;
  padding: 0;
  margin: 0; }

fieldset > legend {
  background-color: #696969;
  color: #ffffff;
  font-weight: bold;
  padding: 10px; }

fieldset > p {
  font-weight: bold; }

/*---------------Footer---------------*/
#page-annonce-details > div > div > p:nth-child(2) {
  margin-bottom: 0; }

#page-annonce-details > div > div > p:nth-child(3) {
  margin-top: 0; }

/*---------------Footer---------------*/
footer {
  background-color: #6495ed;
  padding: 2% 0; }

footer > p {
  text-align: center;
  margin: 0; }

/*# sourceMappingURL=mimi_librairie.css.map */
