/*------------------------Bouton------------------------*/
.btn {
	font-size: 1.2rem;
	width: $width-btn;
	padding: 2%;
	text-align: center;
	background-color: $background-color-btn;
	color: $text-color-btn;
	border: none;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	cursor: pointer;
	transition: 1s background-color;
}
.btn:hover {
	background-color: lighten($background-color-btn, 20%);
}
/*La taille des boutons*/
.btn-small {
	width: $width-btn-small;
	margin: 20px ((100% - $width-btn-small)/2);
	padding: 1%;
	font-size: 1.1rem;
}
.btn-large {
	width: $width-btn-large;
	margin: 20px ((100% - $width-btn-large)/2);
	font-size: 1.3rem;
	padding: 3%;
}
/*La couleur des boutons*/
.btn-blue {
	background-color: #139bff;
}
.btn-blue:hover {
	background-color: rgba(19,155,255,0.8);
}
.btn-purple {
	background-color: #c298ff;
}
.btn-purple:hover {
	background-color: #8d98ff;
}
.btn-red {
	background-color: #f6412f;
}
.btn-red:hover {
	background-color: rgba(246,65,47,0.8);
}
/*Apparence des boutons*/
.btn-fat {
	-webkit-border-radius: initial;
	-moz-border-radius: initial;
	border-radius: initial;
}
.btn-extra-large {
	width: 100%;
	margin: 20px 0;
}
.btn-fancy { 
	width: $width-btn-fancy;
	margin: 20px ((100% - $width-btn-fancy)/2);
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
	background-color: $background-color-btn-fancy;   
    color: $text-color-btn-fancy;
	transition: 1s color;
    text-transform: uppercase;
    font-family: 'Calibri';
    font-size: 1.4rem;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}
.btn-fancy:hover {
	background-color: $background-color-btn-fancy;  
	text-shadow: 0px -1px #97A63A;
	color: $text-hover-color-btn-fancy;
}