@mixin grid-col($nbColGrille, $largColGrille, $largBoite) {
	$largGouttiere: (100 - $nbColGrille * $largColGrille) / $nbColGrille;
	width: $largColGrille*$largBoite + $largGouttiere*($largBoite - 1);
	margin: 10px ($largGouttiere / 2);
	box-sizing: border-box;
	float: left;
}
@mixin grid-offset($nbColGrille, $largColGrille, $offset) {
	$largGouttiere: (100 - $nbColGrille * $largColGrille) / $nbColGrille;
	margin-left: $offset * $largColGrille + $offset * $largGouttiere + ($largGouttiere / 2);
}

