@import "default";
@import "variables";
@import "typo";
@import "btn";
@import "alerte";
@import "composant";
@import "grille";
@import "build";


html { background-color:#ffffff; }
body {
	background-color:#f5f5f5;
	max-width: 1280px;
}

/*---------------Classes---------------*/
.row { width: 100%;	}
.delete-margin-left { margin-left: 0; }
.delete-margin-right { margin-right: 0; }
.clear { 
	float: none;
	clear: both; 
}
.relative { position: relative; }
img { width: 100%; }

/*---------------Header---------------*/
header {
	@extend .header;
}
header img {
	width: 50%;
}
header form input.loupe {
	background:url(../../img/loupe.png) no-repeat 0 0;
	width: 26px;
	background-color: #a9a9a9;
	padding: 0;
}
header form input {
	outline:0;
	border:0;
	margin:0;
	height:24px;
	vertical-align: top;
}
header form input[type=text] {
	width: 80%;
	padding:0 1%;
}
header nav>ul>li>a {
	color: #000000;
	text-decoration: none;
}

header { text-align:center; }


/*---------------Page d'accueil---------------*/
#page-accueil>div>div {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	color: #ffffff;
	& p {
	margin: 1%;
		:first-child {
		font-weight: bold;
		}
	}
}


/*---------------Page recherche---------------*/
#barre-recherche-detaillee {
	background-color: #dcdcdc;
}
#barre-recherche-detaillee label {
    min-width: 110px;
    display: inline-block;
    vertical-align: top;
	margin-bottom:1.5%;
}
#barre-recherche-detaillee input, #barre-recherche-detaillee select {
	width: 58%;
}
#barre-recherche-detaillee>form>div>button {
	font-size: 1rem;
}
#page-recherche-detaillee {
	margin: 1% 0;
}
#page-recherche-detaillee>a {
	color: #000000;
	display: block;
}
#page-recherche-detaillee>a>div>p:first-child {
	font-weight: bold;
	margin-top: 0;
}
#page-recherche-detaillee>a>div>p:nth-child(n+2) {
	margin: 0;
}
/*---------------Page annonce détaillée---------------*/
#page-annonce-details>ul:first-child {
	@extend .breadcrumb;
}
#page-annonce-details>div>div:nth-child(2) h2 {
	@extend .text-center;
	background-color: #696969;
	color: #ffffff;
	padding: 8px 2px;
}
#page-annonce-details>div>div:nth-child(2)>div>div {
	@extend .text-center;
}
img[alt="icone-bookmark"]{ width:5%; }

#icone-telephone, #icone-mail{ width: 35%; }



/*---------------Page ajouter une annonce---------------*/
fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
fieldset>legend {
	@extend .text-center;
	background-color: #696969;
	color: #ffffff;
	font-weight: bold;
	padding: 10px;
}
fieldset>p {
	font-weight: bold;
}
fieldset>input#submit {
	@extend .btn;
	@extend .btn-fat;
	@extend .btn-small;
}


/*---------------Footer---------------*/
#page-annonce-details>div>div>p:nth-child(2) {
	margin-bottom: 0;
}
#page-annonce-details>div>div>p:nth-child(3) {
	margin-top: 0;
}

/*---------------Footer---------------*/
footer {
	background-color: #6495ed;
	padding: 2% 0;
}
footer>p {
	text-align: center;
	margin: 0;
}