$nbColGrille: 12;
$largColGrille: 5.5%;
$offset: 0;
$largBoite: 0;

$background-color-header: #6495ed;

$text-color-a-breadcrumb: #0095dd;
$text-color-hover-breadcrumb: #023466;

$text-color-li-first-last-child-pagination: #666666;
$text-color-a-active-pagination: #696969;
$text-color-a-pagination: #0063e3;
$border-color-a-pagination: #dddddd;
$border-color-a-hover-pagination: #666666;