$nbColGrille: 8;

@for $i from 1 to $nbColGrille + 1 {
	.span#{$i}-#{$nbColGrille}-10_5 {
		@include grid-col($nbColGrille, 10.5%, 0+$i);
	}
}

@for $i from 0 to $nbColGrille {
	.offset#{$i}-#{$nbColGrille}-10_5 {
		@include grid-offset($nbColGrille, 10.5%, 0+$i);
	}
}

$nbColGrille: 4;

@for $i from 1 to $nbColGrille + 1 {
	.span#{$i}-#{$nbColGrille}-23 { /*20_5*/
		@include grid-col($nbColGrille, 23%, 0+$i);/*20.5*/
	}
}

@for $i from 0 to $nbColGrille {
	.offset#{$i}-#{$nbColGrille}-23  { /*20_5*/
		@include grid-offset($nbColGrille, 23%, 0+$i);/*20.5*/
	}
}

$nbColGrille: 3;

@for $i from 1 to $nbColGrille + 1 {
	.span#{$i}-#{$nbColGrille}-31_3 {
		@include grid-col($nbColGrille, 31.3333%, 0+$i);
	}
}

@for $i from 0 to $nbColGrille {
	.offset#{$i}-#{$nbColGrille}-31_3 {
		@include grid-offset($nbColGrille, 31.3333%, 0+$i);
	}
}

$nbColGrille: 2;

@for $i from 1 to $nbColGrille + 1 {
	.span#{$i}-#{$nbColGrille}-48 {
		@include grid-col($nbColGrille, 48%, 0+$i);
	}
}

@for $i from 0 to $nbColGrille {
	.offset#{$i}-#{$nbColGrille}-48 {
		@include grid-offset($nbColGrille, 48%, 0+$i);
	}
}

$nbColGrille: 1;

@for $i from 1 to $nbColGrille + 1 {
	.span#{$i}-#{$nbColGrille}-98 {
		@include grid-col($nbColGrille, 98%, 0+$i);
	}
}

@for $i from 0 to $nbColGrille {
	.offset#{$i}-#{$nbColGrille}-98 {
		@include grid-offset($nbColGrille, 98%, 0+$i);
	}
}




@media only screen and (min-width: 1024px) {
	
	$nbColGrille: 2;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-ordi-#{$nbColGrille}-48 {
			@include grid-col($nbColGrille, 48%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-ordi-#{$nbColGrille}-48 {
			@include grid-offset($nbColGrille, 48%, 0+$i);
		}
	}
	
	$nbColGrille: 3;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-ordi-#{$nbColGrille}-31_3 {
			@include grid-col($nbColGrille, 31.3333%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-ordi-#{$nbColGrille}-31_3 {
			@include grid-offset($nbColGrille, 31.3333%, 0+$i);
		}
	}
	
}

@media only screen and (min-width: 640px) {
	$nbColGrille: 3;

	@for $i from 1 to $nbColGrille + 1 {
		.span#{$i}-tablette-#{$nbColGrille}-31_3 {
			@include grid-col($nbColGrille, 31.3333%, 0+$i);
		}
	}

	@for $i from 0 to $nbColGrille {
		.offset#{$i}-tablette-#{$nbColGrille}-31_3 {
			@include grid-offset($nbColGrille, 31.3333%, 0+$i);
		}
	}

}