/*----------Typo----------*/
$base-text-color: #000000;
$base-font-size: 1.1rem;
$base-font-family: Calibri, sans-serif;
$title-font-family: 'Roboto Condensed', sans-serif;
$link-color: #0095dd;
$link-hover-color: #023466;

/*----------Btn----------*/
$width-btn: 40%;
$background-color-btn: #000000;
$text-color-btn: #ffffff;
$width-btn-small: 20%;
$width-btn-large: 80%;
$background-color-btn-fancy: #E8E8E8;
$text-color-btn-fancy: #3A474D;
$text-hover-color-btn-fancy: #0095dd;
$width-btn-fancy: 40%;

/*----------Alerte----------*/
$background-color-alerte-succes: #e6efc2;
$border-color-alerte-succes: #c6d880;
$text-color-alerte-succes: #000000;
$background-color-alerte-info: #d5edf8;
$border-color-alerte-info: #d5edf8;
$text-color-alerte-info: #215793;
$background-color-alerte-avertissement: #fff6bf;
$border-color-alerte-avertissement: #ffd324;
$text-color-alerte-avertissement: #000000;
$background-color-alerte-danger: #fbe3e4;
$border-color-alerte-danger: #fbc2c4;
$text-color-alerte-danger: #8b1f11;


/*----------Header----------*/
$background-color-header: #dddddd;

/*----------Jumbotron----------*/
$background-color-jumbotron: #eeeeee;
$font-size-jumbotron-p: 1.1rem;
$font-size-jumbotron-btn: 1.1rem;

/*----------Navbar----------*/
$margin-li-navbar: 10px;
$width-ul-navbar: 72%;
$nb-li-navbar: 6;
$text-color-a-navbar: #f3f3f3;
$text-color-a-hover-navbar: #0095dd;

$text-color-a-disabled-navbar: #000000;
$text-color-a-active-navbar: #ff8c00;
$text-color-a-hover-active-navbar: #ffd700;