/*------------------------Body------------------------*/
body {
  color: $base-text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  margin: 0 auto;
}

/*------------------------Titres------------------------*/
h1 {
	font-size: 1.8rem;
	color: #000000;
	font-weight: bold;
	font-family: $title-font-family;
	margin: 20px 0;
}
h2 {
	font-size: 1.7rem;
	color: #000000;
	font-weight: bold;
	font-family: $title-font-family;
	margin: 18px 0;
}
h3 {
	font-size: 1.6rem;
	color: #000000;
	font-weight: bold;
	font-family: $title-font-family;
	margin: 16px 0;
}
h4 {
	font-size: 1.5rem;
	color: #000000;
	font-weight: normal;
	font-family: $title-font-family;
	margin: 14px 0;
}
h5 {
	font-size: 1.4rem;
	color: #000000;
	font-weight: normal;
	font-family: $title-font-family;
	margin: 12px 0;
}
h6 {
	font-size: 1.3rem;
	color: #000000;
	font-weight: normal;
	font-family: $title-font-family;
	margin: 10px 0;
}
/*------------------------Sous-titres------------------------*/
small {
	font-size: 0.8em;
	color: grey;
	font-weight: normal;
}

/*------------------------Paragraphe------------------------*/
p { margin-bottom: 10px; }

/*------------------------Balises de texte inline------------------------*/
mark {
	background-color: yellow;
	color: black;
}
del { text-decoration: line-through; }
ins { text-decoration: underline; }
u { text-decoration: underline; }
strong { font-weight: bold; }
em { font-style: italic; }
abbr { text-decoration: underline; }

/*------------------------Quote et blockquote------------------------*/
q { display: inline; }
blockquote {
	display: block;
	margin: 1em 2%;
}
code {  font-family: monospace; }
pre { 
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}
kbd { font-family: monospace; }

/*------------------------Listes------------------------*/
ul>li {
	list-style-type: disc;
}
ul.ul-square>li {
	list-style-type: square;
}
ul.ul-list-style-type-none>li {
	list-style-type: none;
	padding: 0;
}

/*------------------------Liens------------------------*/
a {
	color: $link-color;
	text-decoration: none;
	transition: 1s color;
 
	&:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
}

/*------------------------Alignements et transformations------------------------*/
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }